:root {
  /* Colors */
  --primary-color: #dc3545;
  --secondary-color: #459ef7;
  --third-color: #0d6efd;
  /* Headers */
  --xl-header: 64px;
  --l-header: 54px;
  --m-header: 46px;
  --s-header: 28px;
  --xs-header: 24px;
  /* Paragraphs */
  --xl-prg: 20px;
  --l-prg: 18px;
  --m-prg: 16px;
  --s-prg: 14px;
  /* Font Weights */
  --xl-weight: 700;
  --l-weight: 500;
  /* Border Radius */
  --xl-br: 50px;
  --l-br: 20px;
  --m-br: 15px;
  --s-br: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden !important;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
button {
  border: none;
}
/*! GENERAL CLASSES */
.ll-section {
  margin: 0;
  padding: 100px 0;
}
.ll-container {
  max-width: 1240px;
  margin: 0 auto;
}
.ll-flex__col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ll-flex__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.primary-btn {
  display: block;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
}
/* Typography */
.xl__header {
  font-size: var(--xl-header);
}
.l__header {
  font-size: var(--l-header);
}
.m__header {
  font-size: var(--m-header);
  line-height: 1.2;
  color: #212529;
}
.s__header {
  font-size: var(--s-header);
  color: #212529;
  font-weight: 500;
}
.xs__header {
  font-size: var(--xs-header);
  color: rgb(81, 81, 84);
}
.xl__prg {
  font-size: var(--xl-prg);
  line-height: 26px;
  color: rgb(81, 81, 84);
}
.l__prg {
  font-size: var(--l-prg);
  line-height: 24px;
  color: rgb(81, 81, 84);
}
.m__prg {
  font-size: var(--m-prg);
  line-height: 24px;
  color: rgb(81, 81, 84);
}
.s__prg {
  font-size: var(--s-prg);
  color: #6c757d;
}
.bold {
  font-weight: var(--xl-weight);
}
.light {
  font-weight: var(--l-weight);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.ll-container {
  align-items: flex-start;
}
.left-col {
  width: calc(75% - 40px);
}
.right-col {
  width: 25%;
  align-items: center;
  text-align: center;
}
a:hover {
  filter: brightness(0.8);
  transition: all 0.2s ease;
}
.right-col .img-link:hover {
  filter: brightness(1);
}
.logo {
  height: 40px;
  width: auto;
}
.link {
  color: var(--third-color);
}
.italic {
  font-style: italic;
}
.red-text {
  color: var(--primary-color);
}
.body-text {
  color: #4b4b4b;
}
.alert {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  border: 1px solid transparent;
  border-radius: 2.5px;
  padding: 20px;
}
.primary-btn {
  width: 100%;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px 38px;
  font-size: 16px;
  font-weight: 600;
}
.left-col ul {
  align-items: flex-start;
  gap: 10px;
}
.left-col ul li {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.left-col li img {
  height: 15px;
  width: auto;
}
.review-wrapper {
  align-items: center;
  gap: 5px;
  text-align: center;
}
.review-wrapper img {
  height: 25px;
  width: auto;
}
.banner {
  background: #f8f9fa;
  align-items: center;
  padding: 20px;
}
.btn-img {
  height: 75px;
  cursor: pointer;
}
.empty {
  position: relative;
}
.right-col .banner {
  align-items: center;
  text-align: center;
  /* position: fixed; */
  top: 0;
}
.comment-block {
  gap: 10px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: start;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 20px;
  width: 65%;
}
.comment-text {
  gap: 6px;
}
.blue-text {
  color: #4267b2;
}
.grey-text {
  color: rgb(62, 62, 62);
  font-size: 14px;
}
.comment-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.comment-time {
  color: #6c757d;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12.7px;
}
.likes {
  color: #4267b2;
}
.comment-container {
  gap: 20px;
}
.footer-section {
  background-color: #f8f9fa;
}
.footer-container {
  align-items: center;
  text-align: center;
}
.right-col--img {
  border-radius: 3px;
}
.wrapper {
  gap: 12px;
  align-items: center;
  text-align: center;
}
.card {
  padding: 15px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.topBanner-section {
  background-color: #f8f9fa;
  padding: 30px;
}
.topBanner-container {
  text-align: center;
}
@media screen and (max-width: 1240px) {
  .ll-section {
    padding-inline: 2%;
  }
}
@media screen and (max-width: 992px) {
  .ll-section {
    padding: 70px 4%;
  }
  .topBanner-section {
    padding: 30px;
  }
  .l__header {
    font-size: 38px;
  }
  .m__header {
    font-size: 22px;
    line-height: 32px;
  }
  .xl__prg,
  .l__prg {
    font-size: 16px;
    line-height: 24px;
  }
  .right-col .banner img {
    height: unset;
  }
}
@media screen and (max-width: 768px) {
  .l__header {
    font-size: 28px;
  }
  .left-col,
  .comment-block {
    width: 100%;
  }
  .right-col {
    display: none;
  }
  .topBanner-section {
    padding: 30px;
  }
}
@media screen and (max-width: 576px) {
  .ll-section {
    padding: 50px 4%;
  }
  .topBanner-section {
    padding: 30px;
  }
  .m__header {
    font-size: 25px;
    line-height: 32px;
  }
  .s__header {
    font-size: 20px;
    line-height: 30px;
  }
  .l__prg {
    font-size: 16px;
    line-height: 24px;
  }
  .primary-btn {
    padding: 12px 30px;
  }
  .banner img {
    height: unset;
  }
}
